@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(189, 189, 189);
}

#drum-machine {
  width: 700px;
  height: 350px;
  background-image: radial-gradient(circle at 60% 0, #4b4949, #111111 70%);
  border-radius: 5px;
}

#pad-bank {
  width: 360px;
  height: 280px;
}

.drum-pad {
  width: 100px;
  height: 80px;
  box-shadow: -7px 7px 10px black;
  border-radius: 3px;
}

.drum-pad p {
  font-size: 24px;
}

.controls-container {
  height: 280px;
  width: 250px;
}

.toggle {
  height: 70px;
}

.select {
  height: 25px;
  width: 50px;
  border-radius: 25px;
  background-color: black;
}

.inner {
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

#display {
  height: 50px;
  width: 200px;
}

.toggle p {
  font-size: 22px;
  font-weight: 600;
}

#displayText {
  font-size: 20px;
  font-weight: 500;
}

#volume {
  margin: 10px 0;
}

@media (max-width: 705px) {
  #drum-machine {
    width: 380px;
    height: 700px;
  }
}
